* {
  background: #252829;
  color: #fff;
}

.App {
  width: 60%;
  min-width: 50vh;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow: 8px 8px 16px #212325, -8px -8px 16px #313537;
}

.button {
  display: block;
}
